[user]
	name = François Michonneau
	email = francois.michonneau@gmail.com
	signingKey = 6300592C6D8DFC21406D525B037DBA3399ECB8E4
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
[credential]
	helper = cache
[color]
	ui = auto
[github]
	user = fmichonneau
[commit]
	gpgSign = true
[branch]
	autosetuprebase = always
	sort = -committerdate
[usethis]
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
	tool = meld
[diff]
	algorithm = histogram
